.CodeMirror {
   height: auto!important;   
}

pre {
   border: none;
   background-color: #fff;
}

.CodeMirror, .resultDiv {
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: .5em;
   background-color: #fafafa;
   margin-bottom: .5em;
   font-size: 13px;
   font-family: monospace;
}

.resultDiv {
   display: none;
}

.drawCanvas {
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: .5em;
   margin-bottom: .5em;
   margin-right: .5em;
}

p code {
   color: #333;
   background-color: #fafafa;
   border: 1px solid #dcdcdc;
   border-radius: 4px;
   padding: 1px;
   padding-left: 3px;
   padding-right: 3px;
}