<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/node_modules/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/node_modules/codemirror/theme/neat.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/node_modules/codemirror/lib/codemirror.js"></script>
    <script src="{{ site.baseurl }}/node_modules/codemirror/mode/javascript/javascript.js"></script>
    <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
    <script src="{{ site.baseurl }}/assets/webppl/compiled/webppl.js"></script>
    <script src="{{ site.baseurl }}/bower_components/paper/dist/paper-full.js"></script>
    <script src="{{ site.baseurl }}/bower_components/jquery-autosize/jquery.autosize.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/">ProbProg Course</a>
          <p class="navbar-text navbar-collapse collapse">ESSLLI 2014</p>
        </div>
      </div>
    </div>

    <div class="container">

      {{ content }}

    </div><!-- /.container -->

  </body>
</html>
